// Importing Global Variables
@use "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

.marketing-video {
    height: 0;
    padding-bottom: 56.25% !important;
    position: relative;
}

.marketing-video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.getting-started-image {
    width: 100%;
    max-width: 50ch;
}
